<!-- display stretches according to category -->
<h2>CATEGORIES</h2>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/stretches">ALL</a></li>
    <% if @stretch_types %>
      <% @stretch_types.each do |stretch_type| %>
        <li role="presentation"><a href="/stretches?stretch_type_id=<%= "#{stretch_type.id}" %>"><%= stretch_type.name.upcase %></a></li>
      <% end %>
    <% end %>
</ul>

<div class="list-group">
 <% if @stretches %>
  <% @stretches.each do |stretch| %>
    <p class="list-group-item">
      <%= stretch.task %>
    </p>

    <div class="stretches-forms">
      <form class="stretches" action="/user/entries" method="post">
        <input type="hidden" name="stretch_id" value="<%= stretch.id %>">
        <button class="btn btn-xs btn-default pull-right">try</button>
      </form>
    </div>
  <% end %>
<% end %>

</div>

<!-- display random posts from users -->
<h2>BE INSPIRED</h2>
  
<div id="masonry-grid">
  <div class="grid-sizer"></div>
    <% if @entries_with_post.empty? %>
      <p>Nothing to show.</p>
    <% else %>  
      <% @entries_with_post.each do |entry| %>
        <div class="grid-item">
          <div class="thumbnail">
            <img src="<%= entry.entry_img %>" alt="">

            <div class="caption">
              <h4 class="rand-h4"><%= Stretch.find_by(id: entry.stretch_id).task %></h4>
              <p class="created-by">by <%= User.find_by(id: entry.user_id).name %></p>
              <p><%= entry.post %></p>
              <p>
                <form class="stretches" action="/user/entries" method="post">
                  <input type="hidden" name="stretch_id" value="<%= entry.stretch_id %>"> 
                  <button type="submit" class="btn btn-sm btn-default">TRY STRETCH</button>
                </form>
              </p>
            </div>
          </div>
      
        </div>
      <% end %>
    <% end %>   
  </div>
</div>
