<!-- display stretches according to category -->
<h2>CATEGORIES</h2>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/stretches">ALL</a></li>
  <% @stretch_types.each do |stretch_type| %>
    <li role="presentation"><a href="/stretches?stretch_type_id=<%= "#{stretch_type.id}" %>"><%= stretch_type.name.upcase %></a></li>
  <% end %>
</ul>

<div class="list-group">
 
  <% @stretches.each do |stretch| %>
    <form class="stretches" action="/user/entries" method="post">
      <p class="list-group-item">
        <input type="hidden" name="stretch_id" value="<%= stretch.id %>">
        <%= stretch.task %>
        <button class="btn btn-xs btn-default pull-right">try</button>
      </p>
    </form>
  <% end %>

</div>

<!-- display random posts from users -->
<h2>BE INSPIRED</h2>

<!-- <div class="row"> -->
  
<div id="masonry-grid">
  <div class="grid-sizer"></div>
    
    <% @rand_entries.each do |entry| %>
    <div class="grid-item">
    
    <!-- <div class="col-xs-6 col-sm-6 col-md-4"> -->
      <div class="thumbnail">
        <img src="https://unsplash.it/400" alt="">
        <div class="caption">
          <h4 class="rand-h4"><%= Stretch.find_by(id: entry.stretch_id).task %></h4>
          <p class="created-by">by <%= User.find_by(id: entry.user_id).name %></p>
          <p><%= entry.post %></p>
          <p> 
          	<a href="#" class="btn btn-default" role="button">TRY STRETCH</a>
          </p>
        </div>
      </div>
    <!-- </div> -->
    
    </div>

    <% end %>
    
  </div>
</div>
