<!-- display pending stretch -->
<h2 id="pending">PENDING</h2>

<div class="list-group">
  <% @entries_pending.each do |entry| %>
  	<% stretch_id = entry.stretch_id %>
  	<% stretch = Stretch.find_by(id: stretch_id) %>
    
      <p class="list-group-item">
      	<%= stretch.task %>
      </p>

      <form class="stretches" action="/user/entries/<%= entry.id %>" method="post">
        	<input type="hidden" name="_method" value="put">
        	<button class="btn btn-xs btn-default pull-right">complete</button>
      </form>

      <form class="stretches" action="/user/entries/<%= entry.id %>" method="post">
        	<input type="hidden" name="_method" value="delete">
        	<button class="btn btn-xs btn-default pull-right">delete</button>
      </form>
    
  <% end %>
</div>

<!-- display completed stretch -->
<h2 id="completed">COMPLETED</h2>

<div class="list-group">
  <% @entries_completed.each do |entry| %>
  	<% stretch_id = entry.stretch_id %>
  	<% stretch = Stretch.find_by(id: stretch_id) %>
    
      <p class="list-group-item">
        <%= stretch.task %>
      </p>

	    <form class="stretches" action="/user/entries/post/<%= entry.id %>/edit" method="get">
	     	<button class="btn btn-xs btn-default pull-right">add/edit post</button>
	    </form>

    	<form class="stretches" action="/user/entries/<%= entry.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-xs btn-default pull-right">delete</button>
      </form>
  <% end %>
</div>

<!-- display all completed entries with posts from user -->
<h2 id="posts">POSTS</h2>
<div class="row">
	<% @entries_completed.each do |entry| %>
		<% if !entry.post.nil? %>
			<% stretch_id = entry.stretch_id %>
  		<% stretch = Stretch.find_by(id: stretch_id) %>
			<div class="col-xs-6 col-sm-6 col-md-4">
			  <div class="thumbnail">
			  	<% if entry.image_url.nil? %>
			    	<img src="http://lorempixel.com/400/400/abstract" alt="">
			    <% else %>
			    	<img src="<%= entry.image_url %>" alt="">
			    <% end %>
			    <div class="caption">
			      <h4><%= stretch.task %></h4>
			      <p><%= entry.post %></p>
			    </div>
			  </div>
			</div>
		<% end %>	
	<% end %>
</div>
